@import '../../../assets/variables';

.todo-list {
  margin: 0;

  .todo-item-container {
    position: relative;
    list-style: none;
    cursor: default;

    .material-icons-outlined {
      display: none;
      position: absolute;
      right: 1.5rem;
      top: 0.25rem;
      color: #cacaca;
      cursor: pointer;

      &:hover {
        color: darken(#fff, 80%);
        border-color: darken(#fff, 80%);
      }
    }

    &:hover {
      .material-icons-outlined.edit {
        display: inline;
      }

      &.done {
        .material-icons-outlined.delete {
          display: inline;
        }

        .material-icons-outlined.edit {
          display: none;
        }
      }
    }
  }
}
.add-container {
  margin-top: 0.6rem;
  text-align: right;
}
#add-todo-trigger {
  margin: 0.8rem 1.4rem 1.5rem 2rem;
  cursor: pointer;
  .material-icons{
    margin-left: 0.5rem;
    position: relative;
    top: 6px;
    color: $crosskey-primary;
    transition: color 0.15s ease-in;
  }
  &:hover{
    .material-icons {
      color: $crosskey-secondary;
      }
    }
}
div.cdk-drop-list-dragging div.todo-item-container:hover {
  .material-icons-outlined {
    display: none;
  }
}


.cdk-drag-placeholder {
  //visibility: hidden;
  opacity: 0.3;
}

.cdk-drag-preview {
  i.fi-xtluxl-edit-thin,
  i.fi-stluxl-trash-thin {
    display: none;
  }
}
