.todo-item {
  &:hover {
  }
  border-bottom: 1px solid #dedede;
  .checkbox{
    border: 1px solid #000;
    border-radius: 2px;
    margin-left: 2em;
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    position: relative;
    top: 1px;
  }
  i{
    position: absolute;
    top: -12px;
    font-size: 2rem;
    left: -2px;  }
  .todo-item--title {
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 0.8rem;
  }
  &.done {
    .fi-swluxl-square{
      display: none;
    }
    .fi-stluxl-check{
      display: inline;
    }
    .todo-item--title {
      text-decoration: line-through;
    }
  }
  .todo-item--description{
    max-height: 0;
    transition: max-height 0.1s ease;
    overflow: hidden;
    margin: 0;
    padding: 0 2em;
  }
}
:host-context(.todo-item-container:hover){
  .todo-item--description {
    display: block;
    max-height: 10rem;
    transition: max-height 0.8s ease;
  }
}
:host-context(.cdk-drop-list-dragging) {
  .todo-item--description {
    display: none !important;
  }
}
:host-context(.cdk-drag-preview){
   .todo-item {
     border-bottom: none;
   }
 }

