<div id="configuration-bar">
  <ng-container *ngIf="showConfiguration">
    <label>
      <ng-container i18n="@@configuration-bar--hide-done">
        <input type="checkbox" [checked]="configuration.hideCompleted"
               (change)="configuration.hideCompleted = !configuration.hideCompleted"/>
        Hide completed tasks
      </ng-container>
    </label>
    <label>
      <input type="checkbox" [checked]="configuration.storeLocaly"
             (change)="configuration.storeLocaly != configuration.storeLocaly"/>
      <ng-container i18n="@@configuration-bar--hide-done">
        Store tasks locally
      </ng-container>
    </label>
  </ng-container>
  <i class="material-icons-outlined" (click)="showConfiguration = !showConfiguration">settings</i>
</div>
