@import '../../../assets/variables';

form {
  margin: 0 1.4rem 0 2rem;
}
.button-group{
  justify-content: flex-end;
}
.button{
  margin: 0.5rem;
  margin-right: 0;
}
.button {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  &:hover {
    color: #dedede;
  }
  &.success {
    background: $crosskey-primary;

    &:hover {
      background: $crosskey-primary-hover;
    }
  }
  &.alert {
    background: $crosskey-alert;

    &:hover {
      background: $crosskey-alert-hover;
    }
  }
}
